<div>
  <h1>User List</h1>
  <input [(ngModel)]="searchText" placeholder="Search users" (input)="search()">
  <select [(ngModel)]="workoutFilter" (change)="search()">
    <option value="">All Workouts</option>
    <option value="Running">Running</option>
    <option value="Cycling">Cycling</option>
    <option value="Swimming">Swimming</option>
    <option value="Yoga">Yoga</option>
  </select>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Workouts</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>
          <ul>
            <li *ngFor="let workout of user.workouts">
              {{ workout.type }} - {{ workout.minutes }} minutes
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</div>
